[Unit]
Description=Swaysounds
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots" ""
ExecStart=%h/.config/sway/scripts/swaysounds
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target