[Unit]
Description=SwayNC
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots" ""
ExecStart=/usr/bin/swaync
ExecReload=/usr/bin/swaync-client --reload-config; /usr/bin/swaync-client --reload-css
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target