@import "../../.cache/wal/colors-waybar.css";

window#waybar {
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @background;
  border-radius: 0px;
  font-weight: bold;
  opacity: 0.9;
  padding: 0px 12px;
}

.modules-left {
  padding-right: 0px;
  border-bottom-right-radius: 16px;
}

.modules-center {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.modules-right {
  border-bottom-left-radius: 16px;
}

#workspaces button {
  all: unset;
  padding: 0px;
  min-width: 32px;
  color: @foreground;
}

#workspaces button:last-child {
  border-bottom-right-radius: 16px;
}

#workspaces button.focused,
#workspaces button.active {
  background: @color2;
  color: @background;
}

#workspaces button.urgent {
  background: @color3;
  color: @background;
}

#workspaces button:hover {
  background: @foreground;
  color: @background;
}
