@import "../../.cache/wal/colors-waybar.css";

* {
  font-size: 9pt;
  color: @foreground;
}

window#waybar {
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  font-weight: bold;
  background-color: @background;
  border-radius: 0px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0px 5px;
  margin-top: 5px;
}

.modules-left {
  padding-right: 2px;
}

#workspaces button {
  font-weight: bold;
  padding: 0 6px;
  border-radius: 10px;
}
