@import "../../.cache/wal/colors-waybar.css";

window#waybar {
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  font-weight: bold;
  background-color: @background;
  opacity: 0.9;
  border-radius: 0px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0px 5px;
  margin-top: 5px;
}

.modules-left {
  padding-right: 0px;
}

#workspaces button {
  font-weight: bold;
  padding: 0 6px;
  border-radius: 0px;
  color: @foreground;
  transition: none;
}
