@import "../../.cache/wal/colors-waybar.css";

window#waybar {
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  font-weight: bold;
  background-color: @background;
  opacity: 0.9;
  border-radius: 0px;
  padding: 0px 12px;
  margin: 0px 5px;
  margin-top: 5px;
}

.modules-left {
  padding-right: 0px;
}

#workspaces button {
  all: unset;
  padding: 0 10px;
  color: @foreground;
}

#workspaces button.focused,
#workspaces button.active {
  background: @color2;
  color: @background;
}

#workspaces button.urgent {
  background: @color3;
  color: @background;
}

#workspaces button:hover {
  background: @foreground;
  color: @background;
}
