@import "colors.rasi"
@import "theme.rasi"

configuration {
	font: "Agave Nerd Font Propo 10";
	sort: true;
	sorting-method: "fzf";
	case-sensitive: false;
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method: "name";
  }
  show-icons: false;
}
