@import "../../.cache/wal/colors.css";

:root {
  --notification-icon-size: 32px;
  --font-family: "FiraCode Nerd Font Propo";
  --bg-color: var(--background);
  --text-color: var(--foreground);
  --border-color: var(--foreground);
}

* {
  font-family: var(--font-family);
  font-size: 9pt;
  border-radius: 0;
}

.notification:hover {
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: none;
}

.notification-default-action:hover {
  background: transparent;
}

.notification-row .notification-background {
  padding: 5px;
  opacity: 0.9;
}

.notification {
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  margin: 0px;
  padding: 5px;
  border-radius: 0px;
}

.notification-content {
  background: transparent;
  color: var(--text-color);
}

.summary {
  color: var(--text-color);
  font-weight: bold;
}

.body {
  color: var(--text-color);
}

.control-center {
  background: alpha(var(--bg-color), 0.9);
  opacity: 0.9;
  border: 1px solid var(--border-color);
  border-radius: 0;
  color: var(--text-color);
}

.close-button {
  background: transparent;
  color: var(--text-color);
  border: none;
  box-shadow: none;
}
