@import "colors.css";

:root {
  --notification-icon-size: 32px;
  --bg-color: color-mix(in srgb, @surface, transparent 37%);
  --text-color: @on_surface;
  --border-color: @outline;
}

* {
  font-size: 10pt;
  border-radius: 0;
}

.notification:hover {
  background: var(--bg-color);
  box-shadow: none;
}

.notification-default-action:hover {
  background: transparent;
}

.notification-row .notification-background {
  padding: 8px;
}

.notification {
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  margin: 0px;
  padding: 12px;
  border-radius: 16px;
}

.notification-content {
  color: var(--text-color);
}

.summary {
  color: var(--text-color);
  font-weight: bold;
  font-size: 12pt;
}

.body {
  color: var(--text-color);
}

.control-center {
  background: alpha(var(--bg-color), 0.9);
  margin: 3px;
  opacity: 0.9;
  border: 2px solid var(--border-color);
  border-radius: 16px;
  color: var(--text-color);
}

.close-button {
  background: transparent;
  color: var(--text-color);
  border: none;
  box-shadow: none;
}

.notification-content .text-box {
  margin-left: 6px;
}
